@media (min-width: 1100px) {
	.all-inputs > input{
		width: 564px;
	}
	.button-tela3 > button{
		width: 367px;
	}
	.input-style{
		width: 564px;
	}
	.button-acessarquizz > button{
		width: 367px;
	}
	.tela3-h1 > h1{
		font-size: 23px;
	}
	.go-home{
		font-size: 21px;
	}
    .textarea{
		width: 564px;
	}


/* tela 1 */
.tela1{
	margin-top: 146px;
}

.seuPrimeiroQuizz{
	width: 1051px;
}
.todosQuizzes{
    margin-top: 77px;
	width: 1051px; 
}
.quizz{
	margin: 0 0 12px 0;;
}
.flexQuizzes{
	background-color: aqua;
	width: 1051px; 
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
article{
	width: 1051px;
}



/* tela 2 */




}